# Ignore everything in the repository
*

# Allow the docs directory itself
!docs/
# Allow everything inside the docs directory (including subdirectories and files)
!docs/**

!.gitignore
!.nojekyll
!README.md

/.quarto/
**/*.quarto_ipynb
