# Ignore everything in the repository
*

# Allow the docs directory itself
!docs/
# Allow everything inside the docs directory (including subdirectories and files)
!docs/**

!.gitignore
!.nojekyll
!README.md

#.quarto/idx/about.qmd.json
#.quarto/idx/index.qmd.json
#.quarto/project-cache/7283581e76fca84212792c8425d0b1b1
#.quarto/project-cache/deno-kv-file
#.quarto/xref/INDEX
#.quarto/xref/cd83211d
#.quarto/xref/d49052a9
#_quarto.yml
#_site/about.html
#_site/index.html
#_site/search.json
#_site/site_libs/bootstrap/bootstrap-ffef2937f4b36abe67c94fde2b59b041.min.css
#_site/site_libs/bootstrap/bootstrap-icons.css
#_site/site_libs/bootstrap/bootstrap-icons.woff
#_site/site_libs/bootstrap/bootstrap.min.js
#_site/site_libs/clipboard/clipboard.min.js
#_site/site_libs/quarto-html/anchor.min.js
#_site/site_libs/quarto-html/popper.min.js
#_site/site_libs/quarto-html/quarto-syntax-highlighting-15634bcf2e68342d4ad2dfa704d543f6.css
#_site/site_libs/quarto-html/quarto.js
#_site/site_libs/quarto-html/tabsets/tabsets.js
#_site/site_libs/quarto-html/tippy.css
#_site/site_libs/quarto-html/tippy.umd.min.js
#_site/site_libs/quarto-nav/headroom.min.js
#_site/site_libs/quarto-nav/quarto-nav.js
#_site/site_libs/quarto-search/autocomplete.umd.js
#_site/site_libs/quarto-search/fuse.min.js
#_site/site_libs/quarto-search/quarto-search.js
#_site/styles.css
#about.qmd
#index.qmd
#styles.css
#2026-ducati-monster.jpg
#DSC01009.JPEG
#DSC03105.JPEG
#LUNE_DAYBED_LAF_.png
#air_nz.png
#alan_hangover.png
#carvings.jpg
#favicon.png
#magic_mike.jpg
#motorbike_gift.png
#pikorua.png
#pikorua2.png
#rsvp.png
#ella_hens_do.qmd
#john_stag_do.qmd
#on_the_day.qmd
#registry.qmd
#rsvp.qmd
#
#
#/.quarto/
#**/*.quarto_ipynb

/.quarto/
**/*.quarto_ipynb
